@using PaulMiami.AspNetCore.Mvc.Recaptcha
@model ChangerRaitingModel

<div class="posts">
    <div class="row">
        <h2 style="color:black">
            Confirm that you are not a robot!
        </h2>              
    </div> 
    <br>
    <div class="row">
        <form id="confirm" method="post" asp-controller="Home" asp-action="@(Model.TypeChange == TypeChange.Up ? "UpRaiting" : "DownRaiting")">
            <recaptcha size="RecaptchaSize.Normal" />
            <input type="hidden" name="id" value="@Model.Id">
            <input type="hidden" name="page" value="@Model.Page">            
        </form>
    </div>
    <br>
    <div class="row">
        <input form="confirm" type="submit" class="button" style="text-align:center" value="Confirm">
    </div>
</div>

@section Scripts {
    <recaptcha-script />
}